body {
    display: flex;
    justify-content: center; /* horizontally center the grid container */
    align-items: center; /* vertically center the grid container */
    height: 100vh; /* make sure body takes the full height of the viewport */
    margin: 0; /* remove default margin */
width:200px;
}


.box{
padding: 4px;
}

.grid-container{
display: grid;
grid-template-columns:1fr 1fr;
grid-template-rows: 1fr 1fr;

}


.red{
background-color: red;
}

.yellow{
background-color: yellow;
grid-column:span 2;
}

.green{
background-color: green;

}
